.subscriptions {
    display: flex;
    gap: 10px;
}

.subscription {
    background-color: rgb(0, 21, 41);
    color: rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    padding: 10px;
}

.title {
    font-size: 24px;
    color: white;
}

.price {
    color: rgb(24, 144, 255);
    font-size: 24px;
}

.status {
    display: flex;
    align-items: center;
    height: 50px;
}

.active {
    color: red;
}